<div id="register-wrapper">
  <div id="register">
    <div id="logo">
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <h1>Create a new account</h1>
    <form [formGroup]="myForm">
      <input type="text" name="firstname" formControlName="firstname" placeholder="Firstname" />
      <input type="text" name="lastname" formControlName="lastname" placeholder="Lastname" />
      <input type="email" name="email" formControlName="email" placeholder="Email" />
      <input type="password" name="password" formControlName="password" placeholder="Password" />
      <input type="password" name="repeat-password" formControlName="repeat-password" placeholder="Repeat your password" />

      <button class="button" type="submit">Register</button>
      <div id="register-info">
        <span>Already have an account?</span>
        <button id="login-button" class="button" (click)="toLogin()">Go to login</button>
      </div>
    </form>
  </div>
</div>
