<div id="register-wrapper">
  <div id="register">
    <div id="logo">
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <h1>Create a new account</h1>
    <form [formGroup]="myForm">
      <input type="text" name="firstname" formControlName="firstName" placeholder="Firstname" />
      <input type="text" name="lastname" formControlName="lastName" placeholder="Lastname" />
      <input type="email" name="email" formControlName="email" placeholder="Email" />
      <input type="password" name="password" formControlName="password" placeholder="Password" />
      <div *ngIf="showPasswordError" id="password-error">
        <span>Please make sure your password matches these criteria:</span>
        <ul>
          <li #requiredminlength >At least 8 characters</li>
          <li #requiredlowercase>At least one lowercase character</li>
          <li #requireduppercase>At least one uppercase character</li>
          <li #requirednumber>At least one number</li>
        </ul>
      </div>
      <input [class.inputError] = "showConfirmPasswordError && myForm.hasError('notSame')" (input)="onConfirmPasswordInput()" type="password" name="confirm-password" formControlName="confirmPassword" placeholder="Repeat your password" />
      <button class="button" type="submit" (click)="handleRegisterAttempt()">Register</button>
      <app-submit-button [text]="'Register'"></app-submit-button>
      <div id="register-info">
        <span>Already have an account?</span>
        <button id="login-button" class="button" (click)="toLogin()">Go to login</button>
      </div>
    </form>
  </div>
</div>
