.course {
    width: 300px;

    .image {
        height: 150px;
        width: 100%;
        background-color: #EAEAEC;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .status {
        background-color: #EBFAF0;
        padding: 0px 7px;
        border-radius: 5px;
        font-size: 13px;
        color: #6CC08F;
        font-weight: bold;
        text-transform: uppercase;
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height:5px;
            border-radius: 50%;
            background-color: #6CC08F;
            margin-right: 5px;
        }
    }
    .title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .description {
        margin-top: 5px;
        color: #777777;
        font-size: 12px;
    }
}