.course {
    width: 300px;

    .image {
        height: 150px;
        width: 100%;
        background-color: #EAEAEC;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .title {
        margin-top: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .description {
        margin-top: 5px;
        color: #777777;
        font-size: 12px;
    }
}