header {
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(15px);

    #left {
        display: flex;
        align-items: center;
    }

    #menu-links {
        display: flex;
        gap: 5px;
        list-style: none;
        padding-left: 20px;

        & li {
            padding: 5px 10px;
            transition: 0.3s ease-out background-color;
            border-radius: 5px;

            &:hover {
                background-color: rgba(55, 56, 58, 0.4);
            }
        }

        & a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }
    }

    & #logo-wrapper {
        & a {
            display: flex;
            gap: 5px;
            align-items: center;
            text-decoration: none;

        }
        & #logo {
            width: 30px;
        }
    }
}