<header>
  <div id="left">
    <div id="logo-wrapper">
      <a href="/dashboard">
        <img src="assets/logo-dark.svg" alt="logo" id="logo" />
      </a>
    </div>
  </div>
  <ul id="menu-links">
    <li  #overviewPage id="dashboard" (click)="setActivePage(overviewPage)">
      <!-- <img src="assets/icons/home.svg" alt=""> -->
      <span>Overview</span>
    </li>
    <li #studyPage id="study" (click)="setActivePage(studyPage)">
      <span>Study</span>
    </li>
    <li #activityPage id="activity" (click)="setActivePage(activityPage)">
      <span>Activity</span>
    </li>
    <li #helpPage id="help" (click)="setActivePage(helpPage)">
      <span>Help</span>
    </li>
  </ul>
  <div id="menu-container">
    <a href="/" id="logout">
      <span>Logout</span>
      <img id="logout-icon" src="assets/icons/logout.svg" alt="">
    </a>
  </div>
</header>
