<header>
  <div id="left">
    <div id="logo-wrapper">
      <a href="/dashboard">
        <img src="assets/logo.svg" alt="logo" id="logo" />
      </a>
    </div>
  </div>
  <ul id="menu-links">
    <li>
      <img src="assets/icons/home.svg" alt="">
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Study</a>
    </li>
    <li>
      <a href="/">Activity</a>
    </li>
    <li>
      <a href="/">FAQ</a>
    </li>
  </ul>
  <div id="menu-container">
    <a href="/" id="logout">
      <span>Logout</span>
      <img id="logout-icon" src="assets/icons/logout.svg" alt="">
    </a>
  </div>
</header>
