<div id="exams-overview">
<app-title-description (clickEvent)="goToExams()" [title]="'My exams'" [description]="'You have 2 upcoming exams and you\'ve completed 1 this semester.'"></app-title-description>

<table @tableAnimation mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Date</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>
  <ng-container matColumnDef="attempts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by attempts"># of Attempts</th>
    <td mat-cell *matCellDef="let element">{{ element.attempts }}</td>
  </ng-container>
  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by progress">Progress</th>
    <td mat-cell *matCellDef="let element">{{ element.progress }}</td>
  </ng-container>
  <ng-container matColumnDef="credits">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by credits">Credits</th>
    <td mat-cell *matCellDef="let element">{{ element.credits }}</td>
  </ng-container>
  <ng-container matColumnDef="difficulty">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by difficulty">Difficulty</th>
    <td mat-cell *matCellDef="let element">{{ element.difficulty }}</td>
  </ng-container>
  <ng-container matColumnDef="desiredGrade">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by desiredGrade">Desired Grade</th>
    <td mat-cell *matCellDef="let element">{{ element.desiredGrade }}</td>
  </ng-container>
  <ng-container matColumnDef="actualGrade">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by actualGrade">Actual Grade</th>
    <td mat-cell *matCellDef="let element">{{ element.actualGrade }}</td>
  </ng-container>

  <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row @tableAnimation *matRowDef="let row; columns: displayedColumns"></tr>
</table>

</div>