#login-wrapper, #register-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  form {
    width: 300px;
    display: flex;
    flex-direction: column;

    & .input-container {
      display: flex;

      & > input {
        width: 100%;
      }

      & > .error-description {
        position: absolute;
        transform: translate(313px, 1px);

        border: 1px solid rgb(219, 219, 219);
        border-radius: 5px;
        padding: 5px 10px;
      }
    }

    & input {
      margin-bottom: 7px;
      background-color: #f0eef0;
      padding: 7px 10px;
      border: 2px solid #edecee;
      border-radius: 5px;

      &:focus {
        background-color: white;
        outline: solid #90abd8 1px;
      }
    }
  }
}

#logo {
  display: flex;
  justify-content: center;

  & img {
    width: 50%;
  }
}

.button {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

button[type='submit'] {
  background-color: #4d7edf;
  color: white;
}

#authentification-error {
  color: red;
  text-align: center;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #c7c5cb;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

#register-info {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#register-button, #login-button {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #bdbdbd;
}

.error-message {
  padding: 5px;
  border-radius: 5px;
  color: #e33832;
  border: 1px solid rgba(253, 62, 56, 0.5);
  text-align: center;
  margin: 5px 0px;
}

.inputError {
  outline: 1px solid red !important;
}