#course-view-switcher {
  margin-top: 30px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    font-weight: bold;
    color: #282828;
    padding-bottom: 15px;

    &.active {
      color: #4d69cf;
      border-bottom: 2px solid #4d69cf;
      position: relative; /* z-index */
      z-index: 1;
    }
  }
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #f6f6f6;
    transform: translateY(-2px);
  }
}

#course-list {
  margin-top: 30px;
  display: flex;
  gap: 35px;

  overflow-x: hidden; /* todo */
}

#scroll-right{
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease-out opacity;
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: rgba(143, 143, 143,1);
  height: 242px;
  position: absolute;
}