#login-wrapper {
  display: flex;
  justify-content: center;

  form {
    width: 300px;
    display: flex;
    flex-direction: column;

    & input {
      margin-bottom: 7px;
      background-color: #f0eef0;
      padding: 7px 10px;
      border: 2px solid #edecee;
      border-radius: 5px;

      &:focus {
        background-color: white;
        outline: solid #90abd8 1px;
      }
    }
  }
}

.button {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;

  cursor: pointer;
}

button[type='submit'] {
  background-color: #4d7edf;
  color: white;
}

#authentification-error {
  color: red;
  text-align: center;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #C7C5CB;
  margin-top: 10px;
  text-align: center;
}

#register-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#register-button {
  margin-top: 10px;
  background-color: white;
  border: 1px solid #bdbdbd;
}