<div id="login-wrapper">
    <div id="login">
        <div id="logo">
            <img src="assets/logo.svg" alt="logo">
        </div>
        <h1>Sign in</h1>
        <form [formGroup]="myForm">
            <input type="email" name="email" formControlName="email" placeholder="Enter your email here">
            <div class="error-message" *ngIf="myForm.get('email')!.errors?.['email'] && showEmailErrors" >
                Email is invalid.
              </div>
            <input #passwordInput *ngIf="showPasswordInput" type="password" name="password" formControlName="password" placeholder="Enter your password here">
            <span *ngIf="authentificationError" id="authentification-error">You've entered a wrong email or password.</span>
            <button class="button" type="submit" (click)="handleLoginAttempt()">{{currentButtonText}}</button>
            <a href="/forgot_password">Forgot your password?</a>
            <div id="register-info">
                <span>Don't have an account?</span>
                <button id="register-button" class="button" (click)="toRegister()">Create new account</button>
            </div>
        </form>
    </div>
</div>
