<div id="login-wrapper">
    <div id="login">
        <h1>Log in</h1>
        <form [formGroup]="myForm">
            <input type="email" name="email" formControlName="email" placeholder="Enter your email here">
            <div *ngIf="myForm.get('email')!.errors?.['email']" >
                Email is invalid.
              </div>
            <input #passwordInput *ngIf="showPasswordInput" type="password" name="password" formControlName="password" placeholder="Enter your password here">
            <span *ngIf="error" id="authentification-error">You've entered a wrong email or password.</span>
            <button type="submit" (click)="handleLogin()">{{currentButtonText}}</button>
        </form>
    </div>
</div>
