<div id="profile">
    <img id="user-picture" src="assets/profile-pictures/daisy.png" alt="">
    <div id="user-info">
        <div id="user-name">Daisy Mason</div>
        <div id="user-status">Thinking...</div>
        <div id="user-streak">
            <img src="assets/icons/sun.svg" alt="">
            <div id="user-streak-info">
                <div id="user-streak-days">13</div>
                <div id="user-streak-days-info">Consecutive study days</div>
            </div>
        </div>
    </div>
</div>